<ion-content>
  <div class="contenedor-imagen">
    <img [src]="product.image" class="imagen" />


    <ion-fab slot="fixed" horizontal="start" class="boton-regresar">
      <ion-fab-button [routerLink]="['/home']" color="light" class="no-shadow">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>



  <ion-card>

    <ion-card-header class="contenedor2">
      <ion-card-title>{{ product.name }}</ion-card-title>
      <ion-grid>
        <ion-row class="quantity-row justify-content-end">
          <ion-col size="auto">
            <ion-button fill="outline" shape="round" class="quantity-button" (click)="decrementQuantity()" color="dark">
              <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="auto" class="quantity-col">
            <ion-input [(ngModel)]="quantity" type="number" min="1" class="quantity-input"></ion-input>
          </ion-col>
          <ion-col size="auto">
            <ion-button fill="outline" shape="round" class="quantity-button" (click)="incrementQuantity()" color="dark">
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>

    <ion-card-content class="contenedor3">
      <ion-row>
        <ion-col class="contenedor4">
          <ion-icon name="star" *ngFor="let star of [1, 2, 3, 4, 5]" [color]="star <= product.averageRating ? 'secondary' : 'medium'"></ion-icon>
          <p>
            <ion-button fill="clear" color="primary" (click)="viewReviews()">
              {{ product.totalReviews }} reviews
            </ion-button>
          </p>
          <ion-button (click)="openReviewModal()">Leave a Review</ion-button>
        </ion-col>
      </ion-row>
      <p>{{ product.description }}</p>

      <ion-item>
        <ion-label>Choose Size</ion-label>
        <ion-select [(ngModel)]="selectedSize" placeholder="Select Size" (ionChange)="checkSelections()">
          <ion-select-option *ngFor="let size of sizes" [value]="size">{{ size }}</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Añadir opciones de color -->
      <ion-item>
        <ion-label>Color</ion-label>
        <ion-select [(ngModel)]="selectedColor" placeholder="Select Color" (ionChange)="checkSelections()">
          <ion-select-option *ngFor="let color of colors" [value]="color">{{ color }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button class="barra-abajo custom-button" (click)="addToCarrito()" [disabled]="!canAddToCart" ion-no-margin>
        Add to Cart | {{ product.price | currency }}
      </ion-button>
    </ion-card-content>

  </ion-card>

  
</ion-content>