<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Leave a Review</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Rating</ion-label>
    <ion-range min="0" max="5" step="1" snaps="true" [(ngModel)]="rating" color="secondary">
      <ion-icon slot="start" name="star-outline"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon slot="end" name="star" color="secondary"></ion-icon>
    </ion-range>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Review</ion-label>
    <ion-textarea [(ngModel)]="review"></ion-textarea>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button expand="full" (click)="submitReview()" [disabled]="!rating || !review">
        Submit
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>