<ion-header class="header">
  <!-- Nuevo toolbar para el mensaje de bienvenida -->
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="9">
          <p>Hello, Welcome 👋</p>
          <p><strong>{{ userInfo?.name }}</strong></p>
        </ion-col>
        <ion-col size="3" class="ion-text-right" class="contenedor-imagen-perfil">
          <ion-avatar >
            <img [src]="userInfo?.fotos[0]" alt="User photo" class="foto-perfil">
          </ion-avatar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <ion-toolbar class="busqueda">
    <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)" mode="ios" placeholder="Search clothes..."></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="toggleFilterBar()">
        <ion-icon slot="icon-only" name="options-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="showFilterBar">
    <ion-segment [(ngModel)]="selectedFilter" (ionChange)="filterProducts()">
      <ion-segment-button value="All">
        All
      </ion-segment-button>
      <ion-segment-button value="Dress">
        Dress
      </ion-segment-button>
      <ion-segment-button value="Hat">
        Hat
      </ion-segment-button>
      <ion-segment-button value="Watch">
        Watch
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let product of filteredProducts" class="producto">
        <ion-card (click)="viewProduct(product)">
          <div class="contenedor-elementos">
            <img [src]="product.image" class="imagenes-producto" />
            <ion-checkbox 
            [checked]="isFavorito(product.id)" 
            (click)="$event.stopPropagation()" 
            (ionChange)="toggleFavorito($event, product)" 
            class="favorito heart-checkbox" color="light">
            </ion-checkbox>
          </div>
          <ion-card-header class="informacion-texto">
            <p class="texto-negro">{{ product.name }}</p>
            <p>{{ product.type }}</p>
          </ion-card-header>
          <ion-card-content class="separar-elementos">
            <p class="texto-negro">{{ product.price | currency }}</p>
            <ion-row>
              <ion-col>
                <ion-icon name="star" *ngFor="let star of [1,2,3,4,5]" [color]="star <= product.averageRating ? 'secondary' : 'medium'" ></ion-icon>
                <p>{{ product.totalReviews }} reviews</p>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>