<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title class="texto__profile">
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="userInfo" class="contenedor__informacion">
    <div class="contenedor__imagen">
      <ion-avatar class="imagen">
        <img [src]="userInfo.fotos" alt="User photo" >
      </ion-avatar>
    </div>
    <h2>{{ userInfo.name }}</h2>
    <p>{{ userInfo.email }}</p>
  </div>

  <div class="contenedor__boton">
    <ion-button (click)="logout()" color="tertiary">Logout</ion-button>
  </div>
</ion-content>