.boton-regresar {
    position: absolute;
    --border-width: 0;
    --box-shadow: none;
  }

  ion-toolbar {
    text-align: center;
    font-weight: 700;
  }

  ion-header {
    box-shadow: none;
  }

 